<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--

  com.tan.jutils for Eclipse
  
  Copyright (C) 2011  Dolhin Code
  
  This library is free software; you can redistribute it and/or modify it 
  under the terms of the GNU Lesser General Public License as published by 
  the Free Software Foundation; either version 2.1 of the License, or 
  (at your option) any later version.
  
  This library is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY 
  or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public 
  License for more details.
  
  You should have received a copy of the GNU Lesser General Public License 
  along with this library; if not, write to the Free Software Foundation, 
  Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA.
  
  Plugin Home Page: http://eclipse-jutils.sourceforge.net

-->

<plugin
   id="org.adarsh.jutils"
   name="%plugin.name"
   version="3.1.0"
   provider-name="%plugin.provider-name"
   class="org.adarsh.jutils.JUtilsPlugin">

<!--   <runtime>
      <library name="jutils.jar">
         <export name="*"/>
      </library>
   </runtime>
-->
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.filesystem" />
   </requires>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="viewerContribution"
            targetID="#CompilationUnitEditorContext">
       	<action
               label="%SetterVADByContent.label"
               class="com.tan.vad.actions.SetterVADByContent"
               icon="icons/setter.gif"
               menubarPath="generate.viewer/string"
               id="SetterVADByContent.action"/>
           
       	<action
               label="%SetterVADByGet.label"
               class="com.tan.vad.actions.SetterVADByGet"
               icon="icons/setter.gif"
               menubarPath="generate.viewer/string"
               id="SetterVADByGet.action"/>
           
       	<action
               label="%GetterVADByGet.label"
               class="com.tan.vad.actions.GetterVADByGet"
               icon="icons/getter.gif"
               menubarPath="generate.viewer/string"
               id="GetterVADByGet.action"/>
           
       	<action
               label="%GetterVADBySysout.label"
               class="com.tan.vad.actions.GetterVADBySysout"
               icon="icons/sysout.gif"
               menubarPath="generate.viewer/string"
               id="GetterVADBySysout.action"/>
               
               
        <!--generate html form by java bean--> 
       	<action
               label="Gen form"
               class="com.tan.vad.actions.GenFormVAD"
               icon="icons/sysout.gif"
               menubarPath="generate.viewer/string"
               id="GenFormVAD.action"/>
               
               
        <!--generate html table by java bean--> 
       	<action
               label="Gen table"
               class="com.tan.vad.actions.GenTableVAD"
               icon="icons/sysout.gif"
               menubarPath="generate.viewer/string"
               id="GenTableVAD.action"/>
  
  
            
         <action
               label="%toString.label"
               class="org.adarsh.jutils.actions.ToStringGeneratorVAD"
               icon="icons/tostring.gif"
               menubarPath="generate.viewer/string"
               id="tostring.viewerContribution.action"/>
         
    <!--       
         <action
               label="%dummy.setter.label"
               class="org.adarsh.jutils.actions.DummySetterGeneratorVAD"
               icon="icons/tostring.gif"
               menubarPath="generate.viewer/string"
               id="dummySetter.viewerContribution.action"/>
               
                        
         <action
               label="%dummy.getter.label"
               class="org.adarsh.jutils.actions.DummyGetterGeneratorVAD"
               icon="icons/tostring.gif"
               menubarPath="generate.viewer/string"
               id="dummyGetter.viewerContribution.action"/>
               
       
         <action
               label="Generate Dummy Java"
               class="org.adarsh.jutils.actions.DummyJavaGeneratorVAD"
               icon="icons/tostring.gif"
               menubarPath="generate.viewer/string"
               id="dummyJava.viewerContribution.action"/>
         -->

               
         <!--
         	<action
               label="Generate Getter &amp; Setter"
               class="org.adarsh.jutils.actions.GetterSetterGeneratorVAD"
               icon="icons/tostring.gif"
               menubarPath="generate.viewer/string"
               id="getterSetter.viewerContribution.action"/>
         -->
                              
         <action
               label="%action.label.2"
               icon="icons/constructor.gif"
               class="org.adarsh.jutils.actions.CopyConstructorGeneratorVAD"
               menubarPath="generate.viewer/constructor"
               id="constructor.viewerContribution.action"/>  
               
                            
         <menu
               label="%menu.label"
               path="group.additions"
               id="generate.viewer">
            <groupMarker name="string"/>
            <groupMarker name="constructor"/>
         </menu>
         
         
      </viewerContribution>
      
      <objectContribution
            adaptable="false"
            id="objectContribution"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               label="%action.label.3"
               icon="icons/tostring.gif"
               class="org.adarsh.jutils.actions.ToStringGeneratorOAD"
               menubarPath="generate.object/string"
               id="tostring.objectContribution.action"/>
         <action
               label="%action.label.4"
               icon="icons/constructor.gif"
               class="org.adarsh.jutils.actions.CopyConstructorGeneratorOAD"
               menubarPath="generate.object/constructor"
               id="constructor.objectContribution.action"/>               
         <menu
               label="%menu.label.0"
               path="group.additions"
               id="generate.object">
            <groupMarker name="string"/>
            <groupMarker name="constructor"/>
         </menu>
      </objectContribution>
      <objectContribution
            id="org.adarsh.jutils.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="org.adarsh.jutils.menu1"
               label="TanUtils"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.adarsh.jutils.popup.actions.AnalyseMethodOfAdcEJBSessionBean"
               id="org.adarsh.jutils.newAction"
               label="分析【ADC】项目的 SessionBean 类方法"
               menubarPath="org.adarsh.jutils.menu1/group1">
         </action>
         
         
        <!--<action
               class="org.adarsh.jutils.popup.actions.ExportProjectAction"
               id="org.adarsh.jutils.export.project.action"
               label="导出所有项目信息"
               menubarPath="org.adarsh.jutils.menu1/group1">
         </action> -->
	 
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.adarsh.jutils.preferences.JUtilsPreferencesPage"
            id="jutils"
            name="%page.name"/>
            
	  <!-- 自动生成配置项 -->
      <page
            class="com.tan.preferences.GenPreferencesPage"
            category="jutils"
            name="自定义生成"
            id="self-define.page"/>
            
	  <!-- getter setter 配置项 -->
      <page
            class="com.tan.preferences.GetterSetterPreferencesPage"
            category="jutils"
            name="%page.name.2"
            id="getterSetter.page"/>
            
            
      <page
            class="org.adarsh.jutils.preferences.ToStringPreferencesPage"
            category="jutils"
            name="%page.name.0"
            id="tostring.page">
      </page>
      <page
            class="org.adarsh.jutils.preferences.CopyConstructorPreferencesPage"
            category="jutils"
            name="%page.name.1"
            id="constructor.page"/>
			
	</extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.adarsh.jutils.preferences.PreferenceInitializer"/>
   </extension>
   
      <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label"
            visible="true"
            id="jExplorer.actionSet">
         <menu
               label="TanUtils(&amp;M)"
               id="com.tan.actions.menu">
            <separator
                  name="com.tan.actions.menu.group">
            </separator>
         </menu>
            
         <action
               label="%action.label.5"
               icon="icons/jExplorer.png"
               class="com.tan.actions.LocationAction"
               tooltip="%action.tooltip"
               menubarPath="com.tan.actions.menu/com.tan.actions.menu.group"
               toolbarPath="com.tan.actions.menu.group"
               id="com.tan.actions.LocationAction">
         </action>
       	<action
               label="%action.label.6"
               icon="icons/editplus.png"
               class="com.tan.actions.EditplusAction"
               tooltip="%action.tooltip.0"
               menubarPath="com.tan.actions.menu/com.tan.actions.menu.group"
               toolbarPath="com.tan.actions.menu.group"
               id="com.tan.actions.EditplusAction">
         </action>
      </actionSet>

   </extension>
</plugin>
